* {
  box-sizing: border-box;
}

body {
  background-image: url(img/backgroundimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.add-to-cart-button {
  background-color: rgb(33, 96, 221) !important;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: rgb(8, 16, 75) !important;
}

.add-to-cart-button:active {
  transform: translateY(1px);
}

.add-to-cart-icon {
  width: 20px !important;
  height: 20px !important;
  margin-right: 5px !important;
  fill: white !important;
}
