body {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.radio {
  display: flex;
  background-color: aqua;
}
